@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa fa-user"></i>
        Account
    </a>
    <ul class="collapse list-unstyled" id="accountSubmenu">
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage</a>
        </li>
        <li>
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" id="logout-button">
                    <a>Logout</a>
                </button>
            </form>
        </li>
    </ul>
}
else
{
    <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa fa-user"></i>
        Account
    </a>
    <ul class="collapse list-unstyled" id="accountSubmenu">
        <li>
            <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li>
            <a  id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>

}
