@model IEnumerable<MapItemViewModel>
<!--The div element for the map -->
@{


}
<div id="map" style="height: 300px; width: 300px"></div>

<script type="text/javascript">
    var modelData = @Html.Raw(Json.Serialize(Model));
</script>
<script type="text/javascript" src="~/scripts/render_map.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMzHnGdrfFE322akVx14py4UGRZs8IuUo&callback=initMap">
</script>
