@model CustumerViewModel

<input hidden readonly asp-for="CustomerId" class="form-control" />

<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="row">
                <label asp-for="Name" class="control-label"></label>
            </th>
            <td>
                <input readonly="@Model.IsReadonly" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label asp-for="Email" class="control-label"></label>
            </th>
            <td>
                <input readonly="@Model.IsReadonly" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label asp-for="Phone" class="control-label"></label>
            </th>
            <td>
                <input readonly="@Model.IsReadonly" asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label asp-for="DateCreated" class="control-label"></label>
            </th>
            <td>
                <input readonly="@Model.IsReadonly" asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </td>
        </tr>

    </tbody>
</table>