@model CustumerViewModel

<input hidden readonly asp-for="CustomerId" class="form-control" />

<div class="container">
    <div class="form-group">
        <label asp-for="Name"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <i class="input-group-text fa fa-user"></i>
            </div>
            <input asp-for="Name" class="form-control" placeholder="Name" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <i class="input-group-text fa fa-envelope"></i>
            </div>
            <input asp-for="Email" class="form-control" placeholder="Email" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Phone"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <i class="input-group-text fa fa-phone"></i>
            </div>
            <input asp-for="Phone" class="form-control" placeholder="Ex: 000-000-0000" />
        </div>
    </div>
</div>