@model ProductEditViewModel

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <partial name="_ProductImagePartial" model="@Model.ImageContent"></partial>

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <partial name="_ProductEditPartial"></partial>
            </div>
        </div>
    </div>
    
</div>

