
@model IEnumerable<Product>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr onmouseover="ChangeColor(this, true);"
                onmouseout="ChangeColor(this, false);"
                onclick="DoNav('/Product/Detail/@product.ProductId');">
                <th scope="row">@product.ProductId</th>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Size</td>
            </tr>
        }
    </tbody>
</table>