@model ProductDetailViewModel

<input hidden readonly asp-for="@Model.ProductId" class="form-control" />

<div class="col-md-4 p-2 border">

    @*public int ProductId { get; set; }
        public string Name { get; set; }
        public int? Count { get; set; }
        public string SizeName { get; set; }
        public decimal? Price { get; set; }
        public byte[] ImageContent { get; set; }*@

    <div class="form-group">
        <label asp-for="Name"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <i class="input-group-text fa fa-glass"></i>
            </div>
            <input asp-for="Name" class="form-control" placeholder="Name" />
        </div>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
    </div>

    <div class="form-group">
        <label asp-for="Count"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <i class="input-group-text fa fa-tasks"></i>
            </div>
            <input asp-for="Count" class="form-control" placeholder="Count" />
        </div>
        <div><span asp-validation-for="Count" class="text-danger"></span></div>
    </div>

    <div class="form-group">
        <label asp-for="SizeName"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <i class="input-group-text fa fa-balance-scale"></i>
            </div>
            <input asp-for="SizeName" class="form-control" />
        </div>
        <div><span asp-validation-for="SizeName" class="text-danger"></span></div>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <i class="input-group-text fa fa-usd"></i>
            </div>
            <input asp-for="Price" class="form-control" />
        </div>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <i class="input-group-text fa fa-usd"></i>
            </div>
            <input asp-for="Price" class="form-control" />
        </div>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
    </div>
</div>
