@model CustumerViewModel

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="p-3 mb-2 bg-success text-white">@ViewBag.Message</div>
}

<div class="container">
    <form asp-controller="Customer" asp-action="Add" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="row">
            <partial name="Customer/_CustomerDetailPartial" />
            <partial name="Customer/_CustomerAddressPartial" />
        </div>

        <div class="col-sm-10">
            <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
        </div>
    </form>
</div>

