@model CustomerViewModel

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="p-3 mb-2 bg-success text-white">@ViewBag.Message</div>
}

<div class="container">
    <form asp-controller="Customer" asp-action="Add" method="post" enctype="multipart/form-data">
        <div class="row">
            <partial name="Customer/_CustomerDetailPartial" />
            <partial name="Customer/_CustomerAddressPartial" />
        </div>
        <div class="row">
            <div class="col-md-8 p-2 border">
                <div class="form-group text-center">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

