@model CustomerViewModel


<div class="container">
    <form id="detail">
        <div class="row">
            <partial name="Customer/_CustomerDetailPartial" />
            <partial name="Customer/_CustomerAddressPartial" />
            <partial name="Customer/_CustomerOrdersPartial" model="@Model.Orders" />
        </div>

        <div class="row">
            <div class="col-md-8 p-2 border">
                <div class="form-group text-center">
                    <a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.CustomerId" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </form>
</div>