@model CustomerDetailViewModel

    <div class="container">
        <form>
            <div class="row">

                <div class="col-sm-4">
                    <partial name="Customer/_CustomerDetailPartial" />
                </div>

                <div class="col-sm-4">
                    <partial name="Customer/_CustomerAddressPartial" />
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                </div>
            </div>

        </form>
    </div>