@model CustomerViewModel

<div class="container">
    <form asp-controller="Customer" asp-action="Edit" method="post">

        <div class="row">
            <partial name="Customer/_CustomerDetailPartial" />
            <partial name="Customer/_CustomerAddressPartial" />
        </div>

        <div class="row">
            <div class="col-md-8 p-2 border">
                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-controller="Customer" asp-action="Delete" asp-route-id="@Model.CustomerId" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>

</form>
</div>