@model CustumerViewModel

<div class="container">
    <form asp-controller="Customer" asp-action="Edit" method="post">

        <div class="row">

            <div class="col-sm-4">
                <partial name="Customer/_CustomerDetailPartial" />
            </div>

            <div class="col-sm-4">
                <partial name="Customer/_CustomerAddressPartial" />
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-controller="Customer" asp-action="Delete" asp-route-id="@Model.CustomerId" class="btn btn-danger">Delete</a>
            </div>
        </div>

    </form>
</div>