@model IEnumerable<Customer>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr onmouseover="ChangeColor(this, true);"
                    onmouseout="ChangeColor(this, false);"
                    onclick="DoNav('/Customer/Detail/@customer.CustomerId');">
                    <th scope="row">@customer.CustomerId</th>
                    <td>@customer.Name</td>
                    @if (customer.Address != null)
                    {
                        <td>@customer.Address.Address1</td>
                    }
                </tr>
            }
        </tbody>
    </table>