@model IEnumerable<Customer>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
            <tr>
                <th scope="row">@customer.Id</th>
                <td>@customer.Name</td>
                @if (customer.Address != null)
                {
                    <td>@customer.Address.Address1</td>
                }
                <td><a asp-controller="Customer" asp-action="Detail" asp-route-id="@customer.Id" class="btn btn-primary">Details</a></td>
            </tr>
            }
        </tbody>
    </table>