@model OrderListViewModel

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customer</th>
                <th scope="col">Created By</th>
                <th scope="col">Delivery Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
            <tr onmouseover="ChangeColor(this, true);"
                onmouseout="ChangeColor(this, false);"
                onclick="DoNav('/Order/Detail/@order.OrderId');">
                <th scope="row">@order.OrderId</th>
                <td>@order.Customer.Name</td>
                <td>@order.CreatedBy</td>
                <td>@order.DeliveryDate.ToShortDateString()</td>
            </tr>
            }
        </tbody>
    </table>